body,
.uk-active {
    font-family: 'Roboto', sans-serif;
}


/* Jumbotron Name*/

.display-4.name {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 125px;
    text-align: center;
    color: #f7f7f7;
    text-shadow: 6px 6px #7091d8;
    width: 100%
}


/*Jumbotron Background Image */

.JumboHeaderImg {
    background-image: url("./images/mountain.jpg");
    background-repeat: no-repeat;
    width: 100%;
}


/* Contact Font Change */

.contact:hover {
    text-decoration: none;
    color: black;
}

#day-out-img {
    opacity: .5;
    width: 575px;
}

#weather-img {
    width: 575px;
    opacity: .5;
}

#NYT-img {
    width: 575px;
    opacity: .5;
}

#myCarousel {
    width: 575px;
    margin: auto 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Phone edits*/

@media (max-width: 580px) {
    .portfolio-title {
        font-size: 35px;
    }
    #day-out-img {
        opacity: .5;
        width: 250px;
    }
    #myCarousel {
        width: 250px;
    }
    #weather-img {
        width: 250px;
        opacity: .5;
    }
    #NYT-img {
        width: 250px;
        opacity: .5;
    }
    .display-4.name {
        font-size: 75px;
    }
    /*font size change*/
    .portfolio-card,
    .contact-card,
    .bio-card {
        font-size: 25px;
    }
    /* font size change */
    .bio-text {
        font-size: 15px;
    }
    /* Portoflio, Contact and About Me--Card Resize*/
    .portfolio-card,
    .contact-card,
    .bio-card {
        width: 100%;
        margin: auto 0;
        float: none;
    }
}