
/* Jumbotron Name*/
.display-4.name{
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size:125px; 
  text-align:center; 
  color: #f7f7f7;
  text-shadow: 6px 6px #7091d8;
  width:100%
}

/*Jumbotron Background Image */
.JumboHeaderImg{
  background-image: url("./mountain.jpg");
  background-repeat: no-repeat;
  background-size:1500px;
  margin-bottom: 0;
  width:100%
}

/*Portoflio, Contact and About Me--Card Fonts/Edits */
.portfolio-card, .contact-card, .bio-card{
  position:relative;
  font-family: 'Montserrat';
  letter-spacing:10px; 
  font-size: 40px; 
  text-align:center;  
}

/* About me-Font Change */
.bio-text{
  font-family: courier; 
  text-align:center; 
  font-size: 20px;
  margin: auto 0;
}

/* Contact Font Change */
.contact-text{
  font-family: 'Satisfy', cursive; 
  text-align:center; 
  font-size: 40px;
  padding: 0;
}

/* Portfolio Coming Soon! Font Change */
.comeback{
  font-family:'Satisfy', cursive; 
  text-align:center; 
  font-size: 75px;
}

/* Coming Soon! Pseudo Class-- Hover color change*/
.comeback:hover {
  text-shadow:4px 4px #7091d8;
}

/* Phone edits*/
@media (max-width: 480px) { 
/*jumbotron size*/
.jumbotron.JumboHeaderImg{
  
}

  /*container fix*/
 .container{
  width:500px;
 }

  /* Portoflio, Contact and About Me--Card Resize*/
  .portfolio-card, .contact-card, .bio-card{
    width:100%;
    margin:auto 0;
    float: none;
  }

 }