#footer {
  background-color: rgba(6, 12, 23, 1);
  padding: 3em 0em;
}

#footer * {
  font-family: "Manrope";
}

#footer .socials {
  padding: 1.5em 0em 0em;
}

#footer button.icon {
  margin: 0px 20px;
  background-color: transparent;
  color: #ffffff !important;
  border: solid 1px #ffffff;
}

#footer button.icon:hover {
  background-color: rgba(9, 18, 34, 1);
}
#footer button.icon svg{
  transition: ease-in-out .5s;
}
#footer button.icon:hover svg{
  transform: scale(1.5);
}

